/*=========================================medium (md)===============================================================*/

@media (max-width:991.98px){

.home{
        padding-top:100px;
        width: 100%;
    }

.menu{
    height:70px;
}

.mainmenu a{
    font-size:15px;
}

.signupnavbar{
    padding:6px;
    font-size:15px;
}

.maintext{
    width: 100%;
    font-size:xx-large;
    padding-top: 30px;
}

.mainpara p{
    width: 100%;
    font-size:medium;
}

section{
    height:auto;
}

.plans{
    width:50%;
    padding: 10px;
    height: auto;
}

.plans div{
    font-size:medium;
}

.home{
    height: auto;
    padding-bottom: 40px;
}

.mid{
    width:100%;
    margin: auto;
}

.herosection{
    width: 100%;
}


.mainpara{
    font-size:small;
}

.mainfoot{
    padding-top:40px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    gap:20px;
    align-items: center;
    font-size:10px;
}
.mainfoot button{
    text-align: center;
}
.email,.signup{
    width: 100%;
    font-size:x-small;
    text-align: center;
}

.workflowrun{
    width: 80%;
    height:500px;
    margin-top: 90px;
}

.workflowrun div{
    width: 100%;
    height: 100%;
}

.workflow-png{
    width:100%; 
    height:100%;
}
.cloud1,.cloud2{
    display:none;
}

.expbut{
    margin: auto;
    width: 50%;
    font-size:x-small;
    margin-top: 30px;
}

.herosection{
    width: 80%;
}

.industry,.aipartner,.addmenu,.mainfooter{
    display: flex;
    flex-direction:column;
    width: 80%;
    margin: auto;
    gap: 20px;
}

.industry{
    padding-bottom: 20px;
}


.aipartner{
    border: none;
    background-color: #000000;
    gap:70px;
}

.aipartner>div{
    height:200px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;

}

.industry div{
    border-radius: 10px;
}

.dummy{
    display: none;
}

.dev h2{
    margin-top:600px;
    font-size:10px;
}

.bar{
    height: 100px;
}


/*singup page*/

.signup-page{
    display: flex;
    flex-direction: column;
}

.signup-img-block img{
    display: none;
}

.signup-img-block{
    display: none;
}

.price-grid{
    display: flex;
    flex-direction: column;
}

.main-blocks,.change{
    display:flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
}

.price-table{
    width: 90%;
    height: auto;
    margin: auto;
}

.price-grid{
    padding: 40px 10px;
}


.price-cont-btn{
    font-size: 10px;
}

.bar{
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 60px;
    padding-top: 50px;
}

.youtubediv iframe{
    width: 300px;
    height: 200px;
}

.register{
    width: 90%;
}

.mainfooter{
    padding:40px;
    width: 90%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}
.Github button{
    margin: auto;
}
.Github{
    grid-column: 1/5;
    height: auto;
    padding: 0px;
    margin: auto;
}




.lastfooter{
    height: auto;
    padding: 10px;
}

.lastfooter ul{
    font-size:smaller;
}

.lastfooter-cont{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.meeting{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card{
        width: 80%;
        margin: auto;
    }

  .buffer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr 1fr 1fr;
    }

}










/*=================small (sm)==================================*/

@media (max-width:763px) {

    .menu a{
        font-size:x-small;
    }

    .signupnavbar{
        font-size:x-small;
    }

    .expbut{
        width: 80%;
        font-size:x-small;
    }

    .plans{
        width: 80%;
    }

    .plans div{
        font-size:xx-small;
    }

    .workflowrun{
        height: 300px;
        width: 100%;
    }

    .workflow-png{
        width: 100%;
        height: 100%;
    }


    .dev{
        padding-top:50px;
    
    }

    footer{
        font-size: small;
    }

    .lightfonts{
        width: 100%;
        font-size: small;
    }

    .main-blocks
    
    {
        width: 100%;
    }

    .enterprise{
        width:95%;
    }

    .card{
        width: 80%;
        margin: auto;
    }

    .buffer{
        display:flex;
        flex-direction: column;
    }

    .sort-drop{
        display: flex;
        flex-wrap: wrap;
    }



}
