/*=========================================X-small===============================================================*/

@media screen and (max-width: 575.98px){

.home{
        padding-top: 90px;
    }
.menu{
    padding: 0px 20px;
}
.mainmenu{
    transform: scale(0.99);
}

.signupnavbar{
    padding:6px;
}

.maintext{
    width: 100%;
    font-size:xx-large;
    padding-top: 30px;
}

.mainpara p{
    width: 100%;
    font-size:xx-small;
}

section{
    height:auto;
}

.plans{
    width: 80%;
}

.plans div{
    font-size: smaller;
}

.home{
    height: auto;
    padding-bottom: 40px;
}

.mid{
    width:100%;
    margin: auto;
}

.herosection{
    width: 100%;
}


.mainpara{
    font-size:small;
}

.mainfoot{
    padding-top:40px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    gap:20px;
    align-items: center;
    font-size:10px;
}
.mainfoot button{
    text-align: center;
}
.email,.signup{
    width: 100%;
    font-size:xx-small;
    text-align: center;
}

.workflow-png{
    width:300px; 
    height:150px;
}
.cloud1,.cloud2{
    display:none;
}

.expbut{
    margin: auto;
    width: 80%;
    font-size:10px;
}

.herosection{
    width: 80%;
}

.industry,.aipartner,.addmenu,.mainfooter{
    display: flex;
    flex-direction:column;
    width: 80%;
    margin: auto;
    gap: 20px;
}

.industry{
    padding-bottom: 20px;
}


.aipartner{
    border: none;
    background-color: #000000;
    gap:70px;
}

.aipartner>div{
    height:200px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;

}

.industry div{
    border-radius: 10px;
}

.dummy{
    display: none;
}

.dev h2{
    margin-top:200px;
    font-size:10px;
}

.bar{
    height: 100px;
}


/*singup page*/

.signup-page{
    display: block;
}

.signup-img-block img{
    display: none;
}

.signup-img-block{
    height: 20vh;
}

.price-grid{
    display: flex;
    flex-direction: column;
}

.main-blocks,.change{
    display:flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
}

.price-table{
    width: 90%;
    height: auto;
    margin: auto;
}

.price-grid{
    padding: 40px 10px;
}


.price-cont-btn{
    font-size: 10px;
}

.bar{
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 60px;
    padding-top: 50px;
}

.youtubediv iframe{
    width: 300px;
    height: 200px;
}

.register{
    width: 90%;
}

.mainfooter{
    padding: 0px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}
.Github button{
    margin: auto;
}
.Github{
    grid-column: 1/3;
    height: auto;
    padding: 0px;
}

.lastfooter{
    height: auto;
    padding: 10px;
}

.lastfooter ul{
    font-size:xx-small;
}

.lastfooter-cont{
    display: flex;
    flex-direction: column;
    gap:10px;
}

}